/* izug.seantis.dir.events directory css */

.actionMenuContent #seantis-dir-events-item,
.actionMenuContent #seantis-dir-events-directory {
    background: none;    
}

.portalMessage {
    margin-bottom: 12px !important;   
}

#landingPageText {
   line-height: 1.4em;   
}

/* start */

#directorySearch {
    border-bottom: 1px solid #0072ba !important;
    padding-bottom: 5px;
}

.seantis-directory-filter {
    width: 58% !important;
}

#landingPageIntro {
    width: 960px;
}

#landingPageIntro #landingPageText {
    width: 960px;
    float: none;
    margin: 0 !important;
    padding: 15px 0 20px 0 !important;
}

#landingPageIntro #landingPageText h2,
#landingPageIntro #landingPageText div {
    width: 700px;
    margin-left: 20px;
}

#landingPageIntro #landingPageText #landingPageImage {
    padding: 0 !important;
    margin: 0 !important;
    width: 200px;
    display: block !important;
}
/* container */
#directoryInfo {
    margin-top: 15px !important;
}

/* highlight the event title when hovering over a marker */
#content .groupSelection h3 * {
    color: #AE1E00 !important;
}

/* columns */
.event-navigation {
    width: 150px;
    margin-right: 30px;
    margin-top: 1px;
}

#directoryResultList {
    width: 400px !important; 
    margin-right: 25px;
}

.event-sidebar {
    width: 350px;
    float: right;
}

/* map */
#directoryResultMap {
    width: 100% !important;
    height: 300px !important;
    float: none !important;
}

#directoryResultMap #default-cgmap {
    height: 300px;   
}

#directoryDetails .event-sidebar {
    margin-top: 38px;   
}

/* event navigation */
.event-navigation {
   font-size: 10px;
}

.event-navigation h3 {
   font-size: 12px;
   font-weight: normal;   
   margin-bottom: 5px
}

.event-navigation dd {
    margin: 0 !important;
}

.event-navigation ul li {
    margin: 0 !important;   
}

.event-navigation ul li a.navTreeCurrentNode {
    font-weight: bold;   
}

/* submit your event */
.your-event {
    border: none;
    padding: 0;
    text-align: left;
    margin-top: -9px;
    margin-bottom: 10px
}

.your-event p {
    color: black;
    font-weight: bold;
    font-size: 11px;      
}

.your-event a {
    color: #00538C !important;
    font-size: 1em;
    text-align: left;
}

.your-event a:before {
    content: "";

}

/* map marker */
.directoryMarker {
    right: auto;
    left: -3px !important;
    top: 2px !important; 
}

/* events list */
#directoryResultList {
    border-top: none !important;   
}

#directoryResultList .eventgroup .event {
    margin-top: 5px;
}

#directoryResultList .eventgroup-title {
    background-color: white;
    color: #00538C;
    border-radius: 0; 
    padding: 4px 0;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #b5d5ea;
    text-align: right;
}

#directoryResultList .directoryInfoText h3 {
    margin: 0;
}

#directoryResultList .directoryInfoText h3 a {
    padding: 0;
}

#directoryResultList .directoryResult .directoryInfoText {
    border-bottom: 1px solid #efefef;   
}

#directoryResultList .directoryResult:last-child .directoryInfoText {
    border-bottom: none;   
}

#directoryResultList .event-image {
    float: right;
    background: none;
    border: none;
    padding: 0;
    margin: 5px 0;
}

#directoryResultList .event-text {
    float: left;
    margin-left: 12px;
    width: 280px
}

#directoryResultList .event-text h3 {
    font-size: 12px;
}

#directoryResultList .timerange {
    font-size: 11px;
    color: black;
}

#directoryResultList .eventtags {
    margin-left: 12px;
}

/* submitted events */
#directoryResultList .event-state-submitted {
    background-color: white;   
}

/* event workflow */
.event-workflow .event-state {
    margin-left: 12px
}

.event-workflow .event-actions a {
    background-color: white !important;
    padding-right: 0 !important;
}

/* submit form */

form span.required:before {
    content: "*";
    position: relative;
}

.event-submit-form #form-widgets-title {
    width: 100%;
}

.event-submit-form textarea {
    width: 99.5%;   
}

.event-submit-form #form-widgets-short_description {
    height: 45px;
    resize: none;   
}

.event-submit-form #formfield-form-widgets-cat1,
.event-submit-form #formfield-form-widgets-cat2 {
    width: 47%;
    min-height: 290px;
    clear: none;
}

.event-submit-form #formfield-form-widgets-cat1 {
    float: left;   
}
.event-submit-form #formfield-form-widgets-cat2 {
    float: right;
    margin-right: 10px;
}

.event-submit-form #map .geocoder-wrapper {
    display: none;   
}

/* the recurrence widget is scrambled egg on izug.basetheme */
div.riform {
    font-size: 11px !important;   
}
div.riform label {
    vertical-align: middle;   
}
div.riform select {
    position: relative;
    top: -5px;   
}

div.riform input {
    border: 1px solid #ccc;   
}

div.riform input[type="radio"],
div.riform input[type="checkbox"] {
    border: none !important;
}

#riformfields label {
    font-weight: normal !important;   
}

#rirangeoptions div {
    margin-bottom: 10px;   
}
.rioccurrences .occurrence .action {
    position: absolute;
    right: 0;
}

.rioccurrences .occurrence .action a {
    float: none;
    display: inline-block;
    position: relative;
    top: -6px;
}

.rirefreshbutton {
    position: relative;
    left: 9px;
    top: -8px;   
}

.riform h1 {
    color: white !important;   
    font-size: 14px !important;
}

.riform h2 {
    color: black !important;   
    font-size: 12px !important;
}

#adddate, input[name="rirangebyenddatecalendar"] {
    font-weight: normal;
    font-size: 11px;
}

#adddate {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 290px !important;
}

.start .rlabel {
    color: green !important;   
    font-weight: normal !important;
    font-size: 10px !important;
}

/* detail view */
#directoryDetails {
    padding-top: 15px !important;
}

.event-view {
    background: none;   
    margin: 0;
    padding: 0;
}

.event-view .event-title {
    border: none;
    margin: 0 0 15px 20px;
    padding: 0;
}

.event-view .event-date {
    color: #00538C;
    margin: 0;
    padding: 0 0 5px 0;
    text-align: right;
    border-bottom: 1px solid #b5d5ea;
    display: relative;
    width: 940px;
}

.event-view .event-date span {
    margin-right: 10px;   
}

.event-view .event-image {
    margin: 0 25px 20px 20px;
    border: none;
    background: none;
    padding: 0;
}

.event-view .descriptions .short {
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.event-view .descriptions .long {
    line-height: 14px;
}

.event-details > div {
    background: none;
}

.event-view .event-details * {
    padding-left: 0 !important;
    color: black;
    line-height: 14px;
}

#content .event-view .event-details ul {
    padding-left: 0 !important;
    margin-bottom: 0;
    margin-left: 0 !important;
}

#content .event-view .event-details ul li {
    margin-bottom: 0;
}

.event-details div h3 {
    background: none;
    box-shadow: none;
    border-top: 1px solid #efefef;
    font-size: 11px; 
    color: black;
    font-weight: bold;
    margin-bottom: 0;
}

.event-view .event-details a {
    color: #00538C;
}

.event-view .event-details a.selected,
.event-view .event-details a.visited,
.event-view .event-details a:hover {
    color: #AE1E00;
}

/* event-preview */
.event-preview-form .event-title {
    margin-top: 20px !important;   
}

.event-preview-form fieldset {
    width: 935px !important;   
}

.event-preview-form fieldset .event-date {
    width: 915px;   
}

.event-preview-form fieldset h1 {
    display: none;
}

.event-preview-form fieldset .event-view {
    margin-top: -15px;
    margin-left: -10px;   
}

.event-submit-help {
    margin: 25px 0 29px 25px;   
}

/* hide directory search form selection label */
.seantis-directory-search .directorySearchFormSelection label {
    visibility: hidden;
}

/* wizard form tabs */

.seantis-form-navigation ul.wizardSteps li.formTab a {
    padding-top: 0px;
    background-color: transparent;
    height: 17px;
}

.seantis-form-navigation ul.wizardSteps li.formTab a.selected {
    font-weight: bold;   
}

/* form errors */
.event-submit-form .error,
.event-finish-form .error {
    margin-right: 20px;
    width: 97.5%;   
}

.event-submit-form .error .error,
.event-finish-form .error .error {
    border: none;
    padding: 0;
}

/* remove gradients */
#portal-globalnav li,
.context,
.formControls .actionButtons .button,
.documentEditable * .context,
input[type=button].context,
input[type=submit].context,
input#form-buttons-button_add,
input#form-buttons-button_assign,
input#form-buttons-button_search,
input#form-buttons-button_checkin,
input#form-buttons-save,
input#form-buttons-button_submit,
input#form-buttons-button_archive,
#portal-globalnav li.selected,
#content button:focus,
#content input[type=button]:focus,
#content input[type=submit]:focus,
#content button:hover,
#content input[type=button]:hover,
#content input[type=submit]:hover,
#content div.tabbedview-tabs ul.formTabs li a.selected,
#content div.tabbedview-tabs ul.formTabs li.ui-tabs-selected a,
#content a.datagridwidget-add-button:hover ,
button,
input[type=button],
input[type=submit],
#content div.tabbedview-tabs ul.formTabs li a ,
.listingBar a,
#content a.datagridwidget-add-button {
    background: auto !important;
    filter: none !important;
    -ms-filter: none !important;
}